PORT=
# Admin
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=

# Database Configuration
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
SYNCHRONIZE=

# Cache Configuration
CACHE_TTL=300000
# Rate Limiter
RATE_LIMIT_MAX=5
RATE_LIMIT_WINDOW_MS=120000

# JWT
JWT_SECRET=
JWT_EXPIRE=

# Store
STORE=redisStore
STORE_PORT=6379
 STORE_HOST= localhost